/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
}
/* CONTENITORE APPLICAZIONE */
.app-container{
    width: 100%;
    height: 100vh;
    /* Test */
    background-color: brown;
}

footer{    
    height: 110px;
    /* TESt */
    background-color: chartreuse;
}
/* MAIN */
main{
    height: calc(100vh - 110px);
        /* Test */
    background-color: lavenderblush;
}
.side-menu{
    height: calc(100vh - 110px);
    /* Test */
    background-color: khaki;
    width:15%;
}
.top-menu{
    height: 80px;
    background-color: rgb(47, 43, 4);
}