/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
/* CONTENITORE APPLICAZIONE */
.app-container{
    width: 100%;
    height: 100vh;
    /* Test */
    background-color: brown;
}

/* MAIN */
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 110px);
        /* Test */
    background-color: lavenderblush;
}
/* SIDE MENU */
.side-menu{
    height: calc(100vh - 110px);
    width: 200px;
    background-color: #000000;
}
.side-menu a{
    color: #a3a3a3;
}
.side-menu img{
    width: 30px;
    vertical-align: middle;
}
.site-logo{
    height:110px;
    width:100%;
    background-color: coral;
}
.site-logo img{
    width: 90%;
    margin: auto;
    line-height: 110px;
}
/* HOME MENU */
.home-menu img{


}
.home-menu a{
    color: #a3a3a3;

}
.user-menu a{

    background-color: coral;
}
.playlist-creation{
    overflow-y: scroll;
}
/* TOP MENU */
.promo-upgrade{
    height: 110px;
    width: calc(100% - 200px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0 , 0, 0, 0.5);
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
}
.upgrade-container{
    padding:30px 30px;
}
.upgrade-container a{
    color: white;
    border: solid white 1px;
    border-radius: 25px;
    padding: 10px 20px;
}
.main-container{
    position: relative;
    width: calc(100% - 200px);
    height: calc(100vh - 110px);
    padding-top: 110px;
    overflow-y: scroll;
        /* Test */
    background-color: #141922;
}
/* FOOTER */
footer{    
    height: 110px;
    overflow: hidden;
    /* TESt */
    background-color: #282828;
}